{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        Un utilisateur vient d'ajouter une ville ! Revenez <a href="{{ path('tweet_new') }}">ici</a> dans environ 5 minutes pour supporter une nouvelle équipe.
    </div>
{% endblock %}
